body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
	background-color: #000000!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
  background: #0D181F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #0D181F , #27485C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #0D181F, #27485C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #0D181F, #27485C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #0D181F , #27485C); /* Standard syntax */

  opacity: 0.9;
}

.navbar-header{
  margin-right: 20px!important;
}

.wrapper_1{
	height: 100%;
	background: #000000 url('../img/wooden.jpg') repeat-y center center;
	background-size:  100% auto;
    background-repeat: repeat-y;
	/*border: 5px solid yellow;*/
	position: relative;
  /*   padding: 50px 0 0 0; */
}

footer{
    color: white;
}

html, body{
	height: auto;
}

.youTube{
    display: block; 
    margin: 0 auto;
}

.title{
    color:#606060;	
    font-size: 28px;
    font-weight: 600;
}

.lamb{
	position: absolute;
	top: 10px;
	left: 0;
}

.project{
   /*   margin: 70px 0 200px 0;  */ 
/* 	 margin: 50px 0 0 0;  */
    font-family: Tahoma;
}


body > footer{
    position: fixed;
    top: 0;
    right: 100%;
    padding: .5em 3em;
    white-space: nowrap;
    font-size: 120%;
    color: rgba(0, 0, 0, .1);
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top right;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: top right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top right;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.mail{
    color:#606060;
   /*  font-weight: bold; */
    text-decoration: underline;
    margin: 0 70px 0 30px;
}
.aboutRef{
    color:#606060;
    /* font-weight: bold; */
    /* text-decoration: underline; */
   /*  margin: 0 50px 0 0; */
}
.mail:hover,
.aboutRef:hover{
    color: #C4CDFC;
}

.freelance{
	margin: 0 30px 0 0;
}



		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			width: 70%;
			margin: auto;
		}
		
		#myCarousel{
			margin-top: 50px;
		}
		
		.projImg{
			border: 2px solid #9A9A9A!important;
		}